<div class="containerfluid">
    <div class="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-6">
            <app-form (search)="getRepo($event)"></app-form>
        </div>
    </div>
</div>
<div class="container">
    <img src="{{ user.avatar_url }}" alt="">
        <div *ngFor="users of user">
            <p>
                {{users.following}}
            </p>
            <p>
                {{user.followers}}
            </p>
        </div>

        <div class="row" *ngFor="let repos of repo">
            <h3>{{repos.name}}</h3>
        </div>
</div>