<div class="containerfluid">
    <div class="row">
        <div class="col-md-12">
            <app-navbar></app-navbar>
        </div>
        <div class="col-md-6">
            <app-form (search)="getRepo($event)"></app-form>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ user.avatar_url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> Name: {{ user.name}}</h5>
                  <p class="card-text">Username: {{ user.login }}</p>
                  <a href="{[ user.html_url}}" class="btn btn-primary">View Github</a>
                </div>
              </div>
            
        <div>
            <div class="col-md-6">
                
                    <button class="btn btn-primary"> Following: {{user.following}}</button><br><br>
                
                   <button class="btn btn-warning"> followers: {{user.followers}}</button>
            
            </div>
        </div>

    </div>
    <div class="row" >
        <div class="col-md-3 pb-3" *ngFor="let repos of repo" >
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{repos.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Creatd at: </h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                  <a href="#" class="card-link">View more</a>
                </div>
              </div>
        </div>
    
    </div>
</div>